<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kloesse</title>
    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/images/favicon.ico") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Karla" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
    <div class="container">
      <footer class="footer">
        <ul class="list-unstyled">
          <li>Made with &hearts; and out of boredom by phlsphy.</li>
          <li><a href="https://github.com/phlsphy">Github</a></li>
          <li>Blog (Coming Soon)</li>
        </ul>
      </footer>
    </div>

  </body>
  
  <!-- Results page javascript for easy parsing -->
  <script type="text/javascript">
    function ReplaceText() {
      var str = document.getElementById("clean").innerHTML;
      var res = str.replace(/A/g,"<br />&#9644;<br />").replace(/Z/g,"<br />").replace("[[[","").replace("]]]","");
      document.getElementById("clean").innerHTML = res;
    }
    window.onload = ReplaceText;
  </script>
</html>
