<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Kloesse!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Inconsolata" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="header">
         <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
    <div class="container">
      <footer class="footer">
        <ul class="list-unstyled">
          <li><a href="https://github.com/phlsphy">Github</a></li>
          <li><a href="">Blog</a> (Coming Soon)</li>
          <li>Made with <a herf="https://elixir-lang.org/"> Elixir</a> and <a herf="http://phoenixframework.org/">Phoenix</a> by phlsphy.</li>
          <li>MIT License &copy; 2017</li>
        </ul>
      </footer>
    </div>

  </body>
  

</html>
